#AdditionalViewEditor .card {
    margin: 15px 0 15px 0;
    height: 57px;
}

#AdditionalViewEditor .card-header {
    height: 57px;
}

#AdditionalViewEditor .hstack.gap-3 {
    height: 38px;
}

#AdditionalViewEditor .accordion {
    margin-top: 20px;
}