.config-pane {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.overall-config-panel {
  display: flex;
  flex-direction: column;
}
.column-config-table {
  width: 75%;
  border: 0;
}

.column-config-table td {
  padding: 0.5rem 1rem;
}

.semi-bold {
  font-weight: 600;
  text-align: start;
}
