.config-pane {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  align-items: center;
}
.overall-config-panel {
  display: flex;
  flex-direction: column;
}
.column-config-table {
  width: 75%;
  border: 0;
}

.column-config-table td {
  padding: 0.5rem 1rem;
}

.semi-bold {
  font-weight: 600;
  text-align: start;
}
.detail-view{
  display: flex;
  margin-left: 92px;
  margin-bottom: 2em;
  align-items:start
}
.look-tables{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  align-items: center;

}