.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.centerize {
  display: flex !important;
  justify-content: center !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.date-time-picker {
  margin-bottom: 10px;
  margin-top: 10px;
}

.width {
  width: 50%;
}

.delete-icon:hover {
  color: red;
}