table {
  border: 2px solid gray;
  width: 800px;
  height: 50px;
  margin: 0 auto;
}

th {
  border-bottom: 1px solid black;
  text-align: center;
}

td {
  text-align: center;
}

.page-container {
  padding-inline: 4em;
  padding-bottom: 2em;
}

.panel-container {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-left: 20px;
}

.row-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  width: 40%
}

.title-panel {
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
}

.form-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
}

.form-group-stand-alone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:120%
  

  
}
.form-group{
  display: flex;
  flex-direction: column;

}

input {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px;
  border-width: solid;
  border-color: #ccc;
}

.button-icon {
  font-size: 16px;
}
